body {
  background-color: black;
  font-family: Arial, sans-serif;
  color: #777777;
}

a, a:active, a:visited {
  color: #4286f4;
  text-decoration: none;
}

a:hover {
  color: #4286f4;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: lightgray;
  font-size: 20px;
}

hr {
  border-top: 1px solid #333333;
  margin: 75px 0;
}

p {
  size: 16px;
  line-height: 22px;
  margin-bottom: 1.2em;
}

#copyright {
  text-align: center;
  font-size: small;
  margin: 60px 0 0 0;
}

.portrait {
  float: left;
  margin: 0 20px 20px 0;
}

.thumb {
  margin: 0 30px 10px 0;
}

.left {
  text-align: right;
}